services:
  fundamental-service:
    build: ./fundamental_service
    ports:
      - "8002:8002"

  streamlit-service:
    build: ./streamlit_app
    ports:
      - "8501:8501"
    depends_on:
      - fundamental-service
